.mainTitle {
    display: flex;
    cursor: pointer;
}

h1 {
    margin-top: 7px;
    padding-left: 35px;
    text-align: center;
    font-size: 50px;
    cursor: pointer;
}

.mainTab {
    margin-top: 30px;
    padding-left: 50px;
    height: 30px;
    text-align: center;
}

/* 資格ページと成果物一覧ページの表のレイアウト */
table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}

/* Homeページのレイアウト */
.aisatu {
    padding-left: 35px;
    padding-right: 35px;
}

/* Profileページのレイアウト */
.profile {
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
}

/* snsアイコンの設定 */
.twitterIcon:link, .twitterIcon:visited,
.twitterIcon:hover, .twitterIcon:active {
    color: #1DA1F2;
}

.facebookIcon:link, .facebookIcon:visited,
.facebookIcon:hover, .facebookIcon:active {
    color: #3b5998;
}

.githubIcon:link, .githubIcon:visited,
.githubIcon:hover, .githubIcon:active {
    color: #333;
}


/* My Worksページのレイアウト */
.myWorks {
    padding-left: 35px;
    padding-right: 35px;
}

.btn {
    font-size: 20px;
}

.goToApp:link, .goToApp:visited,
.goToApp:hover, .goToApp:active {
    color: black;
    text-decoration: none;
}