.mainTitle {
    display: flex;
    cursor: pointer;
    background-color: #e6e6e6;
}

h1 {
    margin-top: 7px;
    margin-bottom: 0px;
    padding-left: 35px;
    text-align: center;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
}

.mainTab {
    margin-top: 30px;
    padding-left: 150px;
    height: 30px;
    text-align: center;
}

h2 {
    border-bottom: 3px solid #d85782;
    cursor: pointer;
}

/* 資格ページと成果物一覧ページの表のレイアウト */
table {
    border-collapse: collapse;
    cursor: pointer;
}

th {
    border-bottom: 2px solid #d85782;
}

td {
    width: 230px;
    text-align: center;
    border-bottom: 1px solid black;
    cursor: pointer;
}

/* Homeページのレイアウト */
.aisatu {
    padding-left: 45px;
    padding-right: 45px;
}

/* Profileページのレイアウト */
.profile {
    margin-top: 5px;
    padding-left: 45px;
    padding-right: 45px;
    cursor: pointer;
}

.profileDetail {
    display: flex;
    align-items: baseline;
    cursor: pointer;
}

.myName {
    font-weight: bold;
    cursor: pointer;
}

.keireki {
    margin-left: 80px;
    cursor: pointer;
}

/* snsアイコンの設定 */
.twitterIcon:link, .twitterIcon:visited,
.twitterIcon:hover, .twitterIcon:active {
    color: #1DA1F2;
    cursor: pointer;
}

.facebookIcon:link, .facebookIcon:visited,
.facebookIcon:hover, .facebookIcon:active {
    color: #3b5998;
    cursor: pointer;
}

.githubIcon:link, .githubIcon:visited,
.githubIcon:hover, .githubIcon:active {
    color: #333;
    cursor: pointer;
}


/* My Worksページのレイアウト */
.myWorks {
    padding-left: 45px;
    padding-right: 45px;
    cursor: pointer;
}

.detail {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn {
    height: 30px;
    margin-left: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    background-color: black;
    cursor: pointer;
}

.btn:hover {
    background-color: #d85782;
}

.goToApp:link, .goToApp:visited,
.goToApp:hover, .goToApp:active {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 767px) {
    .mainTitle {
        display: flex;
        cursor: pointer;
        background-color: #e6e6e6;
    }    

    h1 {
        margin-top: 7px;
        margin-bottom: 0px;
        padding-left: 35px;
        text-align: center;
        font-size: 50px;
        font-family: 'Oswald', sans-serif;
        cursor: pointer;
    }

    .mainTab {
        margin-top: 0px;
        padding-left: 150px;
        height: 30px;
        text-align: center;
    }
}